<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonu.app.splash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="${applicationLabel}"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/Splash"
        android:name="com.sonu.app.splash.MyApp"
        android:resizeableActivity="false"
        android:supportsPictureInPicture="false">

        <activity
            android:name="com.sonu.app.splash.ui.home.HomeActivity"
            android:label="${applicationLabel}"
            android:theme="@style/Splash.Home"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sonu.app.splash.ui.about.AboutActivity"
            android:theme="@style/Splash.Translucent.About" />

        <!-- exported=false for restricting the usage of service by this app only-->
        <service
            android:name="com.sonu.app.splash.data.download.PhotoDownloadService"
            android:exported="false"/>
    </application>

</manifest>